# GEMINI_API_KEY: Required for Gemini AI API calls.
# GEMINI_API_KEY=MY_GEMINI_API_KEY

# TMDB_API_KEY: Optional custom TMDB API Key.
# AI Studio injects environment variables configured in the Secrets panel.
TMDB_API_KEY=addfba41d0cb5aba2ebaae12ac92b671
